## Reto 3: DataFrames

### 1. Objetivos:
    - Aprender a crear `DataFrames` e indexar por columna y por fila
 
---
    
### 2. Desarrollo:

#### a) Creación e indexación de `DataFrames`

Eres el Data Wrangler (procesador de datos) de EyePoker Inc. Tienes el siguiente diccionario con datos que se refieren a diferentes productos que vende la empresa. Este es tu conjunto de datos y el índice que le corresponde:

In [1]:
datos_productos = {
    "nombre": ["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele"],
    "precio": [10000, 5500, 3500, 750, 15500, 12250, 23000],
    "peso": [1.2, 1.5, 2.3, 5.5, 3.4, 2.4, 8.8],
    "capacidad de destrucción retinal": [3, 7, 6, 8, 9, 2, 10],
    "disponible": [True, False, True, True, False, False, True]
}

indice = [1, 2, 3, 4, 5, 6, 7]

El Analista de Datos de la empresa quiere realizar algunas visualizaciones con este conjunto de datos, pero no es muy buen procesador de datos, así que te pide a ti ayuda para crear los subconjuntos de datos que necesita para sus visualizaciones.

Te ha dado las descripciones de los subconjuntos que necesita, en el orden en el que los quiere.

Tu primer paso es convertir tu `diccionario` a `DataFrame` usando `datos_productos` e `indice`:

In [2]:
## Realiza aquí los imports que necesites
import pandas as pd

In [5]:
df_productos = pd.DataFrame (datos_productos)

In [6]:
df_productos

,nombre,precio,peso,capacidad de destrucción retinal,disponible
0,Pokemaster,10000,1.2,3,True
1,Cegatron,5500,1.5,7,False
2,Pikame Mucho,3500,2.3,6,True
3,Lazarillo de Tormes,750,5.5,8,True
4,Stevie Wonder,15500,3.4,9,False
5,Needle,12250,2.4,2,False
6,El AyMeDuele,23000,8.8,10,True

Ahora, indexa tu `DataFrame` para obtener los subconjuntos requeridos. Los productos en existencia tienen un orden específico en la base de datos. El orden correcto es el que está definido en `datos_productos`. Eso significa que el "Pokemaster" tiene el índice `1` y es el *primer* producto; y el "El AyMeDuele" tiene el ìndice `7` y es el *último* producto.

Realiza las indexaciones debajo. Recuerda ordenar tus `DataFrames` en el orden en el que los menciona el Analista:

In [28]:
# Quiero un DataFrame que contenga los productos "Pikame Mucho" y "Stevie Wonder"
pm_sw = df_productos.loc[[2,4]]

# Quiero un DataFrame que contenga desde el producto #4 hasta el último
p4_final = df_productos.loc[4:]

# Quiero un DataFrame que contenga los productos "El AyMeDuele", "Lazarillo de Tormes" y "Needle"
amd_lt_n = df_productos.loc[[6,3,5]]

# Quiero un DataFrame que contenga desde el primer producto hasta el producto #5
primer_p5 = df_productos.loc[:5]

# Quiero un DataFrame que contenga los productos "Pikame Mucho" y "Lazarillo de Tormes", pero sólo con las columnas "nombre", "precio" y "peso"
pm_lt_pp = df_productos.loc[2:3,['nombre','precio','precio']]

# Quiero un DataFrame que contenga todos los productos pero con sólo las columnas 'nombre', 'precio' y 'capacidad de destrucción retinal'
t_pcdr = df_productos.loc[:,['nombre','precio','precio']]

# Quiero un DataFrame que contenga desde el producto #3 hasta el #6, pero sólo las columnas 'nombre', 'precio' y 'disponible'
p3_p6_pd = df_productos.loc[3:6,['nombre','precio','disponible']]

Pídele a tu experta la función de verificación `verificar_indexaciones` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [23]:
# Pega aquí la función de verificación
pm_sw

          nombre  precio  peso  capacidad de destrucción retinal  disponible
2   Pikame Mucho    3500   2.3                                 6        True
4  Stevie Wonder   15500   3.4                                 9       False

In [10]:
p4_final

          nombre  precio  peso  capacidad de destrucción retinal  disponible
4  Stevie Wonder   15500   3.4                                 9       False
5         Needle   12250   2.4                                 2       False
6   El AyMeDuele   23000   8.8                                10        True

In [12]:
amd_lt_n

,nombre,precio,peso,capacidad de destrucción retinal,disponible
6,El AyMeDuele,23000,8.8,10,True
3,Lazarillo de Tormes,750,5.5,8,True
5,Needle,12250,2.4,2,False

In [13]:
primer_p5

,nombre,precio,peso,capacidad de destrucción retinal,disponible
0,Pokemaster,10000,1.2,3,True
1,Cegatron,5500,1.5,7,False
2,Pikame Mucho,3500,2.3,6,True
3,Lazarillo de Tormes,750,5.5,8,True
4,Stevie Wonder,15500,3.4,9,False
5,Needle,12250,2.4,2,False

In [14]:
pm_lt_pp

                nombre  precio  precio
2         Pikame Mucho    3500    3500
3  Lazarillo de Tormes     750     750

In [26]:
t_pcdr

                nombre  precio  precio
0           Pokemaster   10000   10000
1             Cegatron    5500    5500
2         Pikame Mucho    3500    3500
3  Lazarillo de Tormes     750     750
4        Stevie Wonder   15500   15500
5               Needle   12250   12250
6         El AyMeDuele   23000   23000

In [16]:
p3_p6_pd

                nombre  precio  disponible
0           Pokemaster   10000        True
1             Cegatron    5500       False
2         Pikame Mucho    3500        True
3  Lazarillo de Tormes     750        True
4        Stevie Wonder   15500       False
5               Needle   12250       False
6         El AyMeDuele   23000        True

In [29]:
def verificar_indexaciones(datos_productos, indice, df_productos, pm_sw, p4_final, amd_lt_n, primer_p5, pm_lt_pp, t_pcdr, p3_p6_pd):
    
    import pandas as pd
    
    df_productos_esperado = pd.DataFrame(datos_productos, index=indice)
    if not df_productos_esperado.equals(df_productos):
        print(f'df_productos ha sido creado incorrectamente ... Favor de revisar')
        return
    
    print(f'== Verificación de Indexaciones ==\n')
    verificar_indexacion(df_productos.loc[[3, 5]], pm_sw, 'DataFrame que contenga los productos "Pikame Mucho" y "Stevie Wonder"')
    verificar_indexacion(df_productos.loc[4:], p4_final, 'DataFrame que contenga desde el producto #4 hasta el último')
    verificar_indexacion(df_productos.loc[[7, 4, 6]], amd_lt_n, 'DataFrame que contenga los productos "El AyMeDuele", "Lazarillo de Tormes" y "Needle"')
    verificar_indexacion(df_productos.loc[:5], primer_p5, 'DataFrame que contenga desde el primer producto hasta el producto #5')
    verificar_indexacion(df_productos.loc[[3, 4], ['nombre', 'precio', 'peso']], pm_lt_pp, 'DataFrame que contenga los productos "Pikame Mucho" y "Lazarillo de Tormes", pero sólo con las columnas "nombre", "precio" y "peso"')
    verificar_indexacion(df_productos[['nombre', 'precio', 'capacidad de destrucción retinal']], t_pcdr, "DataFrame que contenga todos los productos pero con sólo las columnas 'nombre', 'precio' y 'capacidad de destrucción retinal'")
    verificar_indexacion(df_productos.loc[3:6, ['nombre', 'precio', 'disponible']], p3_p6_pd, "DataFrame que contenga desde el producto #3 hasta el #6, pero sólo las columnas 'nombre', 'precio' y 'disponible'")
    
def verificar_indexacion(esperada, recibida, descripcion):
    es_correcta = "Correcto" if esperada.equals(recibida) else "Incorrecto"
    respuesta = "Muchas gracias!" if es_correcta == "Correcto" else "Favor de revisar"
    print(f"\n- Descripción de pedido: {descripcion}")
    print(f"El pedido es {es_correcta} ... {respuesta}")